<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.college.erp.entity.User"/>
        <mapping class="com.college.erp.entity.Department"/>
        <mapping class="com.college.erp.entity.Course"/>
        <mapping class="com.college.erp.entity.Semester"/>
        <mapping class="com.college.erp.entity.Student"/>
        <mapping class="com.college.erp.entity.Faculty"/>
        <mapping class="com.college.erp.entity.Subject"/>
        <mapping class="com.college.erp.entity.Attendance"/>
        <mapping class="com.college.erp.entity.Result"/>
        <mapping class="com.college.erp.entity.Timetable"/>
        <mapping class="com.college.erp.entity.Notice"/>
        <mapping class="com.college.erp.entity.Fee"/>
        <mapping class="com.college.erp.entity.FeePayment"/>
        <mapping class="com.college.erp.entity.Examination"/>
        <mapping class="com.college.erp.entity.Enrollment"/>
    </session-factory>
</hibernate-configuration>